@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-style: 'Lato', sans-serif;
    overflow-x: hidden;
    color: white;
    background-image: url(../img/background.jpg);
}

/* Navigation */
.navbar {
    text-transform: uppercase; 
    font-weight: 700;
    font-size: 12px;  /* 1rem = 16px */
    letter-spacing: 1.6px;
    background-color: rgb(255, 0, 0) !important;
}

.navbar-brand {
    padding-left: 11.2px;
}

.navbar-nav li {
    padding-right: 11.2px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: 11px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #bec0bf;
}

/* Contact form */
.contact {
    margin-top: 100px;
}

#size {
    font-size: 40px;
}
