/* Media Queries */
@media only screen and (max-width:768px) {
    #landingTopic > h6 {
        font-size: 20px;
    }
    header .navbar-brand {
        padding-left: 1rem;
    }

    #loginReg .row .col-md-6 {
        position: initial;
        width: initial;
        height: initial;
    }

    .row, .container-fluid {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
}

