@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-size: 'Lato', sans-serif;
    overflow-x: hidden;
    color: white;
    background-image: url(../img/background.jpg);
}

header {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.offset::before {
    display: block;
    content: "";
    height: 64px;
    margin-top: -64px;
}

/* Navigation */
.navbar {
    text-transform: uppercase; 
    font-weight: 700;
    font-size: 12px;  /* 1rem = 16px */
    letter-spacing: 1.6px;
    background-color: rgb(255, 0, 0) !important;
}

.navbar-brand {
    padding-left: 11.2px;
}

.navbar-nav li {
    padding-right: 11.2px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: 11px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #bec0bf;
}

/* Landing */
header .container {
    padding-top: 80px;
}

#landingTopic{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#carouselBackground {
    padding: 4.2vmin 1vmin;
	margin: 30px auto;
    width: 55%;
    height: auto;
}

header .container .col-md-6 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
    font-size: 20px;
}

header .container .col-md-6 h1 {
    font-size: 6vmin;
    font-weight: bold;
    padding: 0.1em 0em;
    text-shadow: 1.6px 1.6px 12.8px black;
}

header .container .col-md-6 p {
    padding: 1vmin 5vmin;
}

header .container .col-md-6 button {
    font-weight: bold;
}

/* Login or register */
#loginReg {
    background-color: black;
}

#loginReg {
    padding-bottom: 20px;
}

.narrow {
    width: 75%;
    margin: 5px auto;
    padding-top: 10px;
}

.narrow h5 {
    font-size: 20px;
}

.btn-secondary {
    border-width: medium;
    border-radius: 1;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 18px;
    margin: 18px;
    color: black;
    background-color: aliceblue;
    border-color: aliceblue;
    font-weight: bold;
}

/* Latest Movies*/
#latest h4 {
    font-size: 15px;
}

#latest .carousel{
    padding-top: 10px;
}

#latest .carousel .controls-top {
    padding-top: 12px;
    padding-bottom: 15px;
}

#latest .controls-top a{
    color: rgb(255, 0, 0);
}

#latest .controls-top a:hover{
    color: rgb(190, 2, 2);
}


/* News */
#news {
    padding-bottom: 30px;
}

/* Footer */
footer {
    font-size: 10px;
    text-align: justify;
}

footer .container .row h5 {
    font-size: 15px;
}

footer .container .row .social a{
    color: white;
    size: 10px;
}

.fab:hover {
    opacity: 0.7;
    color: #bec0bf;
}


    

